* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

body {
  background-color: #FAFCFF;
  color: #457b9d;
}

.title-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  background-color: #d53a3a;
  color: #fafcff;
  padding: 10px 15px;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
}

.title-header h4 {
  font-weight: 500;
}

.title-header span {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.title-header h4 {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #f8f9fa;
  padding: 2px 10px;
  background-color: #e35d5d;
  border-radius: 3rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: #fafcff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.icon-title-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: #457b9d;
}

.icon-title-header img {
  height: 35px;
  background-color: #457b9d49;
  border-radius: 50%;
  padding: 2px;
}

.logo img:hover {
  transform: scale(1.05);
}

.button-container {
  display: flex;
  gap: 18px;
}

.button-container a.button {
  text-decoration: none;
  padding: 8px 14px;
  border-radius: 20px;
  color: #457b9d;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}

.button-container a.button:hover {
  background-color: #457b9d53;
}

.profile-page {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: auto;
  max-width: 1200px;
  gap: 60px;
  flex-wrap: wrap;
  padding: 0 20px;
}

.profile-section {
  flex: 1.5;
  min-width: 300px;
}

.profile-header {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding: 30px;
  background: #FAFCFF;
  border-radius: 20px;
  margin-bottom: 25px;
  align-items: flex-start;
  margin-top: 5rem;
  border-top: 5px solid #457b9d;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
  rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.profile-header h2 {
  text-align: center;
  color: #457b9d;
  margin-bottom: 15px;
  font-size: 26px;
}

.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 4px solid #89bedf;
  object-fit: cover;
  margin-bottom: 10px;
}

.profile-section,
.profile-nav {
  flex: 1 1 350px;
}

.profile-two-columns {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-top: 20px;
  align-items: flex-start;
}

.profile-left p {
  font-size: 18px;
  margin: 8px 0;
  color: #2b4a63;
}

.profile-left strong {
  color: #1d597c;
}

.profile-name {
  font-size: 28px;
  font-weight: 700;
  color: #2b567a;
  margin-bottom: 5px;
}

.profile-email {
  font-size: 17px;
  color: #4a6e89;
  margin-bottom: 20px;
}

.profile-info {
  display: flex;
  justify-content: left;
  gap: 10px;
}

.afflictions-card {
  background:#FAFCFF;
  padding: 15px 20px;
  border-radius: 12px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.08);
}

.afflictions-card ul {
  margin-top: 8px;
  padding-left: 18px;
  color: #3d4d56;
}
.profile-right p {
  font-size: 17px;
  margin: 8px 0;
  color: #26465d;
}

.profile-right strong {
  color: #1d597c;
}

@media (max-width: 900px) {
  .profile-two-columns {
    flex-direction: column;
    gap: 20px;
  }

  .afflictions-card {
    width: 100%;
  }
}
.profile-actions {
  text-align: center;
  margin-top: 20px;
}

.profile-nav {
  flex: 1;
  min-width: 300px;
}

.nav-card {
  width: 400px;
  margin: 0 auto;
  border-radius: 15px;
  padding: 20px 15px;
  margin-top: 2rem;
}

.nav-card h3 {
  text-align: center;
  color: #457b9d;
  margin-bottom: 15px;
}

.nav-card-grid {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.nav-item-card {
  background-color: #78adce;
  color: #fafcff;
  border-radius: 12px;
  text-align: center;
  box-shadow: #293f5f 0px 4px 8px;
  padding: 15px 10px;
  cursor: pointer;
  transition: all 0.25s ease;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}

.nav-item-card div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-item-card:hover {
  background: #457b9d;
  border: none;
  transform: translateY(-3px);
}

.nav-item-card .icon {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #fafcff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 2px solid #f07575;
}

.nav-item-card h4 {
  margin: 5px 0;
  color: #fafcff;
  font-size: 16px;
}

.nav-item-card p {
  font-size: 13px;
  color: #fafcff;
}

.nav-item-card.active h4,
.nav-item-card.active p {
  color:#FAFCFF;
}

@media (max-width: 900px) {
  .nav-card-grid {
    grid-template-columns: 1fr 1fr;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  margin: auto;
  max-width: 1200px;
  padding: 20px;
  flex-wrap: wrap;
}

.left-colum {
  flex: 1;
  min-width: 300px;
}

.right-colum {
  flex: 2;
  min-width: 300px;
}

.left-column,
.right-column {
  flex: 1 1 350px;
}

.donations-card {
  border-radius: 20px;
  background: #FAFCFF;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: left;
  height: auto;
  border-top: 5px solid #457b9d;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
  rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.donations-card .scroll-card {
  max-height: 260px;
  overflow-y: auto;
}

.donations-card h2 {
  width: 100%;
  max-width: 900px;
  margin: 10px;
  font-size: 25px;
  color: #457b9d;
  margin: auto;
  text-align: center;
}

.donation-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.donation-item {
  background: #FAFCFF;
  border-radius: 10px;
  padding: 12px 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease;
}

.donation-item:hover {
  transform: scale(1.02);
  background-color: #FAFCFF;
}

.donation-item p {
  font-style: italic;
  margin: 4px 0;
  color: #457b9d;
}

.donation-item .date {
  font-weight: bold;
  color: #457b9d;
}

.notifications-card {
  border-radius: 20px;
  background: #FAFCFF;
  border-top: 5px solid #457b9d;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
  rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.notifications-card h2 {
  color: #457b9d;
  font-size: 24px;
  margin: 0 0 10px 0;
}

.scroll-card {
  max-height: 350px;
  overflow-y: auto;
  padding: 10px;
  box-sizing: border-box;
}

.notifications-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.notification-item {
  background: #FAFCFF;
  border-radius: 10px;
  padding: 12px 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease;
}

.notification-item:hover {
  transform: scale(1.02);
  background-color: #FAFCFF;
}

.notification-item h4 {
  margin: 0;
  color: #457b9d;
}

.notification-item p {
  margin: 4px 0;
  color: #457b9d;
  font-style: italic;
}
.notification.urgent {
  width: 90%;
  border: 2px solid #e63946;
  background-color: #FAFCFF;
  padding: 12px 15px;
}
.notification.urgent ul li {
  line-height: 1.8;
}
.notification .blood-type {
  background: #ff4d4d;
  color:#FAFCFF;
  border-radius: 8px;
  padding: 2px 8px;
  font-weight: bold;
}

.container-cards {
  width: 100%;
  margin: 40px auto;
  padding: 0 20px;
  box-sizing: border-box;
}
.centers-card {
  border-radius: 20px;
  margin: 30px auto;
  background: #FAFCFF;
  border-top: 5px solid #457b9d;
  width: 100%;
  max-width: 1160px;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
  rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.centers-card h2 {
  color: #457b9d;
}

.center-btn {
  margin-top: 10px;
  background: #fafcff;
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s;
}
.center-btn .distance {
  color: #434343;
  font-size: 14px;
  font-style: italic;
  opacity: 0.8;
}

.center-btn:hover {
  background: #FAFCFF;
  transform: scale(1.03);
}

.status-banner {
  margin: 20px;
  color: #fafcff;
  background-color: #3e4c8f;
  border-radius: 10px;
  padding: 10px;
  box-shadow: #293f5f 0px 4px 8px;
  transition: 0.3s;
}

.status-banner.hidden {
  display: none;
}

.status-banner p {
  margin: bottom 30px;
  font-weight: 500;
  color: #fafcff;
  text-align: center;
}

.status-banner.urgent {
  background: #ffe3e3;
  border-left: 5px solid #e63946;
}

.container-user {
  width: 100%;
  max-width: 1240px;
  margin: 40px auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.user-card {
  background: #FAFCFF;
  border-top: 5px solid #457b9d;
  border-radius: 20px;
  width: 100%;
  max-width: 1160px;
  margin: 20px auto;
  padding: 25px;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
  rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

#perfil h2 {
  width: 100%;
  text-align: center;
  color: #457b9d;
  margin-bottom: 20px;
}
.user-card h2 {
  text-align: center;
  color: #457b9d;
  margin-bottom: 15px;
}

.user-info p {
  font-size: 15px;
  color: #457b9d;
  margin: 6px 0;
}

.user-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.user-form label {
  font-weight: 600;
  font-size: 14px;
  color: #457b9d;
}

.user-form input {
  padding: 8px 10px;
  border-radius: 8px;
  border: 1px solid #bbb;
  font-size: 14px;
}

.user-form input:focus {
  outline: none;
  border-color: #4c53af;
  box-shadow: 0 0 4px #a7b7e2;
}

.save-btn {
  background-color: #457b9d;
  color: #FAFCFF;
  border: none;
  padding: 10px 15px;
  border-radius: 24px;
  font-size: 15px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
}

.save-btn:hover {
  background-color: #457b9d;
  transform: scale(1.03);
}

.success-msg {
  margin-top: 15px;
  background-color: #e8f5e9;
  color: #2e7d32;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
}

.hidden {
  display: none;
}

.scroll-card {
  display: flex;
  flex-direction: column;
  max-height: 400px;
  overflow-y: auto;
  padding: 15px;
}

.scroll-card::-webkit-scrollbar {
  width: 8px;
}
.scroll-card::-webkit-scrollbar-thumb {
  background-color: #94c0d9;
  border-radius: 10px;
}
@media (max-width: 768px) {
  .container-user,
  .centers-card {
    padding: 10px;
  }

  .user-card,
  .centers-card {
    border-radius: 12px;
  }

  .user-form input {
    font-size: 14px;
    padding: 6px;
  }

  .center-btn {
    font-size: 14px;
  }
}

hr {
  border: none;
  border-top: 1px solid #c3cee0;
  margin: 40px 0;
}


#btnLogout {
  background-color: #457b9d;
  border: none;
  border-radius: 999px;
  font-weight: 600;
  color: #e8eef4;
  font-size: 0.95rem;
  padding: 0.6rem 1.4rem;
  cursor: pointer;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.05);
  transition: all 0.25s ease;
}

#btnLogout:hover {
  background-color: #022c556d;
  color: #ffffff;
  transform: translateY(-2px);
}